<style>
  {{ section.settings.type_header_font | font_face: font_display: 'swap' }}
  {{ section.settings.type_insta_font | font_face: font_display: 'swap' }}

  .custome-galery .section-title .h3 {
    font-family: {{section.settings.type_header_font.family}};
    font-weight: {{section.settings.type_header_font.weight}};
  }
  .custome-galery .section-title a {
    font-family: {{section.settings.type_insta_font.family}};
    font-weight: {{section.settings.type_insta_font.weight}};
  }
  .custome-galery {
    background-color: {{ section.settings.section_bg_color }};
  }
  .h3 {
   font-size: {{ section.settings.gallery_title_font_size }}px;
  }
</style>
<div class="ss-wrapper">
  <div class="section-title">
    {%- if section.settings.gallery_title -%}
      <p class="h3">{{ section.settings.gallery_title }}</p>
    {%- endif -%}
    {%- if section.settings.gallery_insta_title -%}
      <a href="{{section.settings.gallery_insta_url}}">{{ section.settings.gallery_insta_title }}</a>
    {%- endif -%}
  </div>
  <div class="gallery">
    <div class="gallery_main">
      <div class="gallery_main-item">
        <a href="{{section.settings.gallery_url}}">
          {%- if section.settings.gallery_image -%}
            {{
              section.settings.gallery_image
              | image_url: width: section.settings.gallery_image.width
              | image_tag: alt: section.settings.gallery_image.alt
            }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag }}
          {%- endif -%}
        </a>
      </div>
    </div>
    <div class="gallery_all">
      {% for block in section.blocks %}
        <div class="gallery_all-item">
          <a href="{{block.settings.gallery_url}}">
            {%- if block.settings.gallery_photo -%}
              {{
                block.settings.gallery_photo
                | image_url: width: block.settings.gallery_photo.width
                | image_tag: alt: block.settings.gallery_photo.alt
              }}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag }}
            {%- endif -%}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "SS - Image Gallery",
  "tag": "section",
  "class": "custome-galery",
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "Mobile Image Settings"
    },
    {
      "type": "checkbox",
      "id": "show_all_mobile",
      "label": "Show All Images On Mobile",
      "info": "If not set section hides the primary and only shows 4 images on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Title settings"
    },
    {
      "type": "text",
      "id": "gallery_title",
      "label": "Gallery title",
      "default": "Discover our creative universe on Instagram"
    },
    {
      "type": "range",
      "id": "gallery_title_font_size",
      "min": 8,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Title Font Size",
      "default": 20
    },
    {
      "type": "text",
      "id": "gallery_insta_title",
      "label": "Insta title",
      "default": "@instagram"
    },
    {
      "type": "url",
      "id": "gallery_insta_url",
      "label": "Insta Url"
    },
    {
      "type": "header",
      "content": "Main image"
    },
    {
      "type": "image_picker",
      "id": "gallery_image",
      "label": "Gallery main image"
    },
    {
      "type": "url",
      "id": "gallery_url",
      "label": "Image url"
    },
    {
      "type": "header",
      "content": "Color&Fonts Settings"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section Background Color",
      "default": "#fff"
    },
    {
      "type": "font_picker",
      "id": "type_header_font",
      "default": "assistant_n4",
      "label": "t:settings_schema.typography.settings.type_header_font.label",
      "info": "t:settings_schema.typography.settings.type_header_font.info"
    },
    {
      "type": "font_picker",
      "id": "type_insta_font",
      "default": "assistant_n4",
      "label": "Insta font",
      "info": "t:settings_schema.typography.settings.type_header_font.info"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "range",
      "id": "section-width",
      "min": 80,
      "max": 200,
      "step": 5,
      "unit": "rem",
      "label": "Section width",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Gallery photo",
      "settings": [
        {
          "type": "image_picker",
          "id": "gallery_photo",
          "label": "Gallery photo"
        },
        {
          "type": "url",
          "id": "gallery_url",
          "label": "Image link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - Image Gallery",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  .custome-galery .ss-wrapper {
    max-width: {{ section.settings.section-width }}rem;
    margin: 0 auto;
    padding: 0 5rem;
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .ss-wrapper {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .custome-galery .section-title {
    text-align: center;
    padding-top: 20px;
  }
  .custome-galery .section-title a {
    text-decoration: none;
    color: inherit;
  }
  .custome-galery .section-title .h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .gallery {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .gallery_main {
    flex: 0 1 40%;
  }
  .gallery_main-item {
    display: block;
    height: 100%;
    padding: 16px 0 0 16px;
  }
  .gallery_main-item a {
    display: block;
    height: 100%;
    position: relative;
  }
  .gallery_main-item a:hover::after {
    opacity: 1;
  }
  .gallery_main-item a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s;
  }
  .gallery_main-item a img,
  .gallery_main-item a svg {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }
  .gallery_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
  }
  .gallery_all-item {
    flex: 0 1 33%;
    padding: 16px 0 0 16px;
  }
  .gallery_all-item a {
    display: block;
    height: 100%;
    position: relative;
  }
  .gallery_all-item a:hover::after {
    opacity: 1;
  }
  .gallery_all-item a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s;
  }
  .gallery_all-item a img,
  .gallery_all-item a svg {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    display: block;
  }

  @media (max-width: 767px) {
    .ss-wrapper {
      padding: 0 10px!important;
    }
    .gallery_main {
      display: none;
    }
    .gallery_all {
      width: 100%;
    }
    .gallery_all-item {
      flex: 0 1 50%;
      padding: 8px;
    }
    .gallery_all-item:nth-child(5),
    .gallery_all-item:nth-child(6) {
      display: none;
    }
  }
{% endstyle %}
{% if section.settings.show_all_mobile %}
  <style>
    @media (max-width: 768px) {
      .ss-wrapper .gallery {
        display: grid;
      }
      .ss-wrapper .gallery_main-item {
        padding-inline: 0;
      }
      .ss-wrapper .gallery_main,
      .ss-wrapper .gallery_all-item:nth-child(5),
      .ss-wrapper .gallery_all-item:nth-child(6) {
        display: block;
      }
    }
  </style>
{% endif %}
{% javascript %}
{% endjavascript %}